<%= form_for(team) do |f| %>
    <% if team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
            <% team.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :category %>
      <%= f.text_field :category %>
    </div>

    <div class="field">
      <%= f.label :club %>
      <%= f.text_field :club %>
    </div>

    <div class="field">
      <%= f.label :avatar %>
      <%= f.text_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :practice_address %>
      <%= f.text_field :practice_address %>
    </div>

    <div class="field">
      <%= f.label :game_address %>
      <%= f.text_field :game_address %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
