<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coach.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @coach.surname %>
</p>

<p>
  <strong>Level:</strong>
  <%= @coach.level %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @coach.birthday %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coach.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @coach.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coach.email %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @coach.zip %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @coach.nationality %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @coach.gender %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @coach.avatar %>
</p>

<p>
  <strong>Team:</strong>
  <%= @coach.team_name %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
